/* Here comes your own styling */

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

h1
{
    text-align: center;
    border-bottom: 2px solid;
    padding: 1rem;
    border-top: 2px solid;
}

h2
{
    margin: 0.5rem 0 0.5rem 0;
    font-size: calc(1.8rem + 1vw);
    text-shadow: 1px 1px 2px black;
}

.count-down
{
   margin: 2rem 0;
   text-align: center;
}


img
{
  max-width: 50vw;
}

.btn-primary
{
  background: #00f;
  border-color: #00f;
}

.btn-primary:hover
{
    background: #00f;
    border-color: #00f;
}


#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #2c2e43; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

a { text-decoration: none!important; }
a:hover { text-decoration: none!important; }


#preloader
{
  position: absolute;
  z-index: 9000;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade-border {
  0% {
    border-bottom-color: rgba(255,211,0,0.25);
  }
  50% {
    border-bottom-color: rgba(255,211,0,1);
  }
  100% {
    border-bottom-color: rgba(255,211,0,0.25);
  }
}

.triangle {
  border: 100pt solid transparent;
  border-bottom-color: rgba(0,0,0,0.25);
  border-width: 0 50px 68.819px 50px;
  width: 0;
  height: 0;
  position: absolute;
  transform-origin: 49.5pt 0;
  animation: fade-border 1s linear infinite;
}

.triangle.no-1 {
  transform: rotate(0.001deg); /* antialises border */
  animation-delay: 0ms;
}

.triangle.no-2 {
  transform: rotate(72deg);
  animation-delay: 200ms;
}

.triangle.no-3 {
  transform: rotate(144deg);
  animation-delay: 400ms;
}

.triangle.no-4 {
  transform: rotate(216deg);
  animation-delay: 600ms;
}

.triangle.no-5 {
  transform: rotate(288deg);
  animation-delay: 800ms;
}
