<footer>
    <div>
        <div class="container p-2">
            <div class="row m-0">
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-3">
                  </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="row m-0">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                &copy; amFOSS 2019. All Rights Reserved.
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Feedbacks</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<style>
footer
{
    background: #2c2e43;
    color: #ccc;
}
footer .container
{
  min-height: 60vh;
}
#sub-footer .col-md-4
{
    display: flex!important;
    align-items: center;
}
#sub-footer
{
  background: #222;
  padding: 1rem;
  text-align: center;
}
#sub-footer ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}
#sub-footer li
{
  padding: 0.3rem;
  display: inline-block;
}
</style>
