{% load static %}
<nav>
  <div class="container">
      <div class="row m-0">
            <div class="col-md-3">
                <img src="{% static '/image/logo_light.png' %}">
            </div>
            <div class="col-md-9">
                <ul id="menu">
                    <li>Home</li>
                    <li>About</li>
                    <li>ASoC 2018 <span class="fa fa-angle-down"></span>
                        <ul>
                            <li>Guidelines</li>
                            <li>Rules</li>
                            <li>FAQ</li>
                        </ul>
                    </li>
                    <li>Project</li>
                    <li>Statistics</li>
                </ul>
            </div>
      </div>
  </div>
</nav>

<style>
nav
{
  color: white;
  padding: 0.5rem;
}
nav .col
{
    display: flex;
    align-items: center;
}
nav img
{
  width: 80%;
}
#menu
{
    list-style: none;
    padding: 1.5rem;
    font-weight: 900;
    margin: 0;
}
#menu li
{
  display: inline-block;
  padding: 0 1.5rem;
  font-size: calc(0.8rem + 0.6vw);
  font-family: 'Montserrat';
  font-weight: 500;
}
#menu li > ul
{
  display: none;
}
</style>
